html,
body {
  width: 100px;
}

.hidden {
  display: none;
}
p {
  text-align: center;
  font-size: 1.6em;
}
label {
  font-size: 1.5em;
}
input {
  width: 100%;
  margin: 3% auto;
}

button {
  border: none;
  width: 100%;
  margin: 3% auto;
  padding: 4px;
  text-align: center;
  font-size: 1.5em;
  cursor: pointer;
  background-color: #CBE7F7;
}

button:hover {
  background-color: #B5DEF5;
}
