html {
  border: 2px solid darkgrey;
  border-radius: 5px;
}
body {
  border-radius: 5px;
  width: 200px;
  background-color: #555555;
  color: white;
  font-family: 'Courier New', monospace;
  align: center;
}

.hidden {
  display: none;
}
p {
  text-align: center;
  font-size: 1.6em;
}
label {
  font-size: 1.5em;
}
input {
  width: 100%;
  margin: 3% auto;
}

@keyframes wow {
  from {
    border-radius: 5px;
    opacity: 75%;
    width: 90%;
    margin-left: 4%;
  }
  to {
    border-radius: 10px;
    opacity: 100%;
    width: 93%;
    margin-left: 2.5%;
  }
}

textarea {
  width: 95%;
  background-color: lightgrey;
  align: center;
}

button {
  border: none;
  width: 90%;
  opacity: 85%;
  margin: 3% 0;
  margin-left: 4%;
  text-align: center;
  font-size: 1.5em;
  cursor: pointer;
  background: linear-gradient(to bottom, #b5bdc8 0%,#828c95 36%,#5d7989 100%);
  border-radius: 5px;
}

button:hover {
  animation: 0.5s linear 0s wow;
  border-radius: 10px;
  width: 93%;
  margin: 3% 2.5%;
  opacity: 100%;
}
